:root {
  --bag_white: #ffff;
  --font: "Oswald", sans-serif;
  --hover_btn: #f73535;
  --color_carne: #a52a2a;
  --color_fondo: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.encabezado__principal {
  display: block;
  text-align: center;
  background-color: var(--color_carne);
  color: var(--bag_white);
  padding: 20px;
  position: fixed;
  width: 100%;
}

.login__usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color_fondo);
}

.login__card {
  width: 100%;
  max-width: 450px;
  background-color: var(--bag_white);
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.2);
  overflow: hidden;
}

.title__usuario {
  background-color: var(--color_carne);
  color: var(--bag_white);
  padding: 20px;
  text-align: center;
}

.content__login {
  padding: 20px;
  width: 100%;
}

.content__btn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.content__btn button {
  padding: 10px 20px;
  width: 50%;
  max-width: auto;
  border: none;
  outline: none;
  border-radius: 7px;
}

.form {
  width: 100%;
  margin-top: 20px;
}
.form input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 7px;
  outline: none;
  border: 1px solid rgba(29, 29, 29, 0.2);
  margin-bottom: 10px;
}

.links__usuario {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: var(--color_carne);
  padding: 10px 20px;
  color: var(--bag_white);
}
